ClientServletCalculette/web/WEB-INF/wsdl/localhost_8080/ApplicationCalculette/CalculetteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://codinCyco.Com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://codinCyco.Com/" name="CalculetteWS">
<types>
<xsd:schema>
<xsd:import namespace="http://codinCyco.Com/" schemaLocation="http://localhost:8080/ApplicationCalculette/CalculetteWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="plus">
<part name="parameters" element="tns:plus"/>
</message>
<message name="plusResponse">
<part name="parameters" element="tns:plusResponse"/>
</message>
<message name="substraction">
<part name="parameters" element="tns:substraction"/>
</message>
<message name="substractionResponse">
<part name="parameters" element="tns:substractionResponse"/>
</message>
<portType name="CalculetteWS">
<operation name="hello">
<input wsam:Action="http://codinCyco.Com/CalculetteWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://codinCyco.Com/CalculetteWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="plus">
<input wsam:Action="http://codinCyco.Com/CalculetteWS/plusRequest" message="tns:plus"/>
<output wsam:Action="http://codinCyco.Com/CalculetteWS/plusResponse" message="tns:plusResponse"/>
</operation>
<operation name="substraction">
<input wsam:Action="http://codinCyco.Com/CalculetteWS/substractionRequest" message="tns:substraction"/>
<output wsam:Action="http://codinCyco.Com/CalculetteWS/substractionResponse" message="tns:substractionResponse"/>
</operation>
</portType>
<binding name="CalculetteWSPortBinding" type="tns:CalculetteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="plus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="substraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculetteWS">
<port name="CalculetteWSPort" binding="tns:CalculetteWSPortBinding">
<soap:address location="http://localhost:8080/ApplicationCalculette/CalculetteWS"/>
</port>
</service>
</definitions>