BookClient/web/WEB-INF/wsdl/localhost_8080/BooksLibrary-WS/BooksLibrary.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.library.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.library.com/">

<xs:element name="getBookById" type="tns:getBookById"/>

<xs:element name="getBookByIdResponse" type="tns:getBookByIdResponse"/>

<xs:element name="suggestBook" type="tns:suggestBook"/>

<xs:element name="suggestBookResponse" type="tns:suggestBookResponse"/>

<xs:complexType name="suggestBook">
<xs:sequence>
<xs:element name="book" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="editionInfo" type="xs:string" minOccurs="0"/>
<xs:element name="ISBN" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="suggestBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookById">
<xs:sequence>
<xs:element name="book_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>